USE [HASTANEYONETIM_DB]
GO
/****** Object:  Table [dbo].[Bolumler]    Script Date: 3.08.2026 13:57:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bolumler](
	[bolum_id] [int] IDENTITY(1,1) NOT NULL,
	[bolum_adi] [varchar](100) NOT NULL,
 CONSTRAINT [PK__Bolumler__7BAD4B5C2479465D] PRIMARY KEY CLUSTERED 
(
	[bolum_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doktorlar]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doktorlar](
	[doktor_id] [int] IDENTITY(1,1) NOT NULL,
	[kullanici_ID] [int] NOT NULL,
	[bolum_ID] [int] NOT NULL,
	[uzmanlik_alani] [varchar](100) NULL,
 CONSTRAINT [PK__Doktorla__77AFB94151F384DE] PRIMARY KEY CLUSTERED 
(
	[doktor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Faturalar]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Faturalar](
	[fatura_id] [int] IDENTITY(1,1) NOT NULL,
	[hasta_ID] [int] NOT NULL,
	[toplam_tutar] [decimal](10, 2) NOT NULL,
	[fatura_tarihi] [date] NULL,
	[odendi_mi] [bit] NULL,
 CONSTRAINT [PK__Faturala__84301C40384B0005] PRIMARY KEY CLUSTERED 
(
	[fatura_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hastalar]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hastalar](
	[hasta_id] [int] IDENTITY(1,1) NOT NULL,
	[kullanici_ID] [int] NOT NULL,
	[hastalar_ad_soyad] [varchar](100) NOT NULL,
	[hastalar_dogum_tarih] [date] NULL,
	[hastalar_telefon] [varchar](50) NULL,
	[hastalar_cinsiyet] [varchar](50) NULL,
 CONSTRAINT [PK__Hastalar__114C5CAB7C0F4CF3] PRIMARY KEY CLUSTERED 
(
	[hasta_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ilaclar]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ilaclar](
	[ilac_ID] [int] IDENTITY(1,1) NOT NULL,
	[ilac_adi] [varchar](100) NOT NULL,
	[barkod] [varchar](50) NULL,
 CONSTRAINT [PK__Ilaclar__22000D17257A37B4] PRIMARY KEY CLUSTERED 
(
	[ilac_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IslemKayitlari]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IslemKayitlari](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[kullanici_ID] [int] NOT NULL,
	[islem_tipi] [varchar](100) NOT NULL,
	[islem_tarihi] [date] NULL,
	[islem_kayitlari_aciklama] [varchar](500) NULL,
 CONSTRAINT [PK__IslemKay__5E5499A8614365A8] PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanicilar]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanicilar](
	[kullanici_id] [int] IDENTITY(1,1) NOT NULL,
	[ad_soyad] [varchar](100) NOT NULL,
	[tc_no] [varchar](50) NOT NULL,
	[sifre] [varchar](50) NOT NULL,
	[rol_ID] [int] NOT NULL,
 CONSTRAINT [PK__Kullanic__E011F09BC938EE79] PRIMARY KEY CLUSTERED 
(
	[kullanici_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Odalar]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Odalar](
	[oda_id] [int] IDENTITY(1,1) NOT NULL,
	[oda_numarasi] [varchar](50) NOT NULL,
	[yatak_sayisi] [int] NOT NULL,
	[bos_mu] [bit] NULL,
 CONSTRAINT [PK__Odalar__190B1E09EC24611D] PRIMARY KEY CLUSTERED 
(
	[oda_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Odemeler]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Odemeler](
	[odeme_id] [int] IDENTITY(1,1) NOT NULL,
	[fatura_ID] [int] NOT NULL,
	[odenen_miktar] [decimal](10, 2) NOT NULL,
	[odeme_tarihi] [datetime] NULL,
	[odemeler_aciklama] [varchar](255) NULL,
 CONSTRAINT [PK__Odemeler__B11B66AD2218E6D2] PRIMARY KEY CLUSTERED 
(
	[odeme_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Randevular]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Randevular](
	[randevu_id] [int] IDENTITY(1,1) NOT NULL,
	[hasta_ID] [int] NOT NULL,
	[doktor_ID] [int] NOT NULL,
	[randevu_tarihi] [datetime] NOT NULL,
	[randevu_durum] [bit] NULL,
	[sikayet] [nvarchar](max) NULL,
	[teshis] [nvarchar](max) NULL,
	[notlar] [nvarchar](max) NULL,
 CONSTRAINT [PK__Randevul__B795F36B2F5EE720] PRIMARY KEY CLUSTERED 
(
	[randevu_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReceteDetaylari]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReceteDetaylari](
	[detay_id] [int] IDENTITY(1,1) NOT NULL,
	[recete_ID] [int] NOT NULL,
	[ilac_ID] [int] NOT NULL,
	[kullanim_sekli] [varchar](100) NULL,
 CONSTRAINT [PK__ReceteDe__8E8164A59FF1CC90] PRIMARY KEY CLUSTERED 
(
	[detay_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Receteler]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Receteler](
	[recete_id] [int] IDENTITY(1,1) NOT NULL,
	[hasta_ID] [int] NOT NULL,
	[doktor_ID] [int] NOT NULL,
	[receteler_tarih] [datetime] NULL,
	[tani] [varchar](50) NULL,
 CONSTRAINT [PK__Recetele__02D0477B6CD0520B] PRIMARY KEY CLUSTERED 
(
	[recete_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roller]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roller](
	[rol_id] [int] IDENTITY(1,1) NOT NULL,
	[rol_adi] [varchar](50) NOT NULL,
 CONSTRAINT [PK__Roller__F92302D14BBA2CE1] PRIMARY KEY CLUSTERED 
(
	[rol_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tahliller]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tahliller](
	[tahlil_id] [int] IDENTITY(1,1) NOT NULL,
	[tahlil_adi] [varchar](100) NOT NULL,
	[birim_fiyati] [decimal](10, 2) NULL,
 CONSTRAINT [PK__Tahlille__5176756BC89DAF5B] PRIMARY KEY CLUSTERED 
(
	[tahlil_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TahlilSonuclari]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TahlilSonuclari](
	[sonuc_id] [int] IDENTITY(1,1) NOT NULL,
	[hasta_ID] [int] NOT NULL,
	[tahlil_ID] [int] NOT NULL,
	[sonuc_degeri] [varchar](200) NULL,
	[tahlil_sonuclari_tarih] [datetime] NULL,
	[doktor_ID] [int] NULL,
 CONSTRAINT [PK__TahlilSo__3AF190988ED4B601] PRIMARY KEY CLUSTERED 
(
	[sonuc_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yatislar]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yatislar](
	[yatis_id] [int] IDENTITY(1,1) NOT NULL,
	[hasta_ID] [int] NOT NULL,
	[oda_ID] [int] NOT NULL,
	[yatis_tarihi] [datetime] NULL,
	[cikis_tarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[yatis_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bolumler] ON 

INSERT [dbo].[Bolumler] ([bolum_id], [bolum_adi]) VALUES (1, N'kardiyoloji')
INSERT [dbo].[Bolumler] ([bolum_id], [bolum_adi]) VALUES (2, N'dahiliye')
INSERT [dbo].[Bolumler] ([bolum_id], [bolum_adi]) VALUES (3, N'ortopedi')
SET IDENTITY_INSERT [dbo].[Bolumler] OFF
GO
SET IDENTITY_INSERT [dbo].[Doktorlar] ON 

INSERT [dbo].[Doktorlar] ([doktor_id], [kullanici_ID], [bolum_ID], [uzmanlik_alani]) VALUES (1, 1, 1, N'Kalp Yetmezliği')
INSERT [dbo].[Doktorlar] ([doktor_id], [kullanici_ID], [bolum_ID], [uzmanlik_alani]) VALUES (2, 2, 2, N'İç Hastalıkları Uzmanı')
INSERT [dbo].[Doktorlar] ([doktor_id], [kullanici_ID], [bolum_ID], [uzmanlik_alani]) VALUES (3, 3, 3, N'Travmatoloji')
SET IDENTITY_INSERT [dbo].[Doktorlar] OFF
GO
SET IDENTITY_INSERT [dbo].[Faturalar] ON 

INSERT [dbo].[Faturalar] ([fatura_id], [hasta_ID], [toplam_tutar], [fatura_tarihi], [odendi_mi]) VALUES (9, 9, CAST(1500.00 AS Decimal(10, 2)), CAST(N'2026-07-25' AS Date), 1)
INSERT [dbo].[Faturalar] ([fatura_id], [hasta_ID], [toplam_tutar], [fatura_tarihi], [odendi_mi]) VALUES (10, 10, CAST(850.00 AS Decimal(10, 2)), CAST(N'2026-07-28' AS Date), 0)
INSERT [dbo].[Faturalar] ([fatura_id], [hasta_ID], [toplam_tutar], [fatura_tarihi], [odendi_mi]) VALUES (11, 11, CAST(450.00 AS Decimal(10, 2)), CAST(N'2026-07-30' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Faturalar] OFF
GO
SET IDENTITY_INSERT [dbo].[Hastalar] ON 

INSERT [dbo].[Hastalar] ([hasta_id], [kullanici_ID], [hastalar_ad_soyad], [hastalar_dogum_tarih], [hastalar_telefon], [hastalar_cinsiyet]) VALUES (9, 12, N'mehmet demir', CAST(N'2000-01-01' AS Date), N'05554443322', N'Erkek')
INSERT [dbo].[Hastalar] ([hasta_id], [kullanici_ID], [hastalar_ad_soyad], [hastalar_dogum_tarih], [hastalar_telefon], [hastalar_cinsiyet]) VALUES (10, 13, N'ayşe şimşek', CAST(N'2000-07-30' AS Date), N'05552223388', N'Kadın')
INSERT [dbo].[Hastalar] ([hasta_id], [kullanici_ID], [hastalar_ad_soyad], [hastalar_dogum_tarih], [hastalar_telefon], [hastalar_cinsiyet]) VALUES (11, 14, N'asya doğan', CAST(N'2026-07-30' AS Date), N'05887779988', N'Kadın')
SET IDENTITY_INSERT [dbo].[Hastalar] OFF
GO
SET IDENTITY_INSERT [dbo].[Ilaclar] ON 

INSERT [dbo].[Ilaclar] ([ilac_ID], [ilac_adi], [barkod]) VALUES (1, N'Parol 500mg', N'869123456001')
INSERT [dbo].[Ilaclar] ([ilac_ID], [ilac_adi], [barkod]) VALUES (2, N'Augmentin 1000mg', N'869123456002')
INSERT [dbo].[Ilaclar] ([ilac_ID], [ilac_adi], [barkod]) VALUES (3, N'Majezik 100mg', N'869123456003')
SET IDENTITY_INSERT [dbo].[Ilaclar] OFF
GO
SET IDENTITY_INSERT [dbo].[IslemKayitlari] ON 

INSERT [dbo].[IslemKayitlari] ([log_id], [kullanici_ID], [islem_tipi], [islem_tarihi], [islem_kayitlari_aciklama]) VALUES (9, 1, N'DOKTOR_GIRIS', CAST(N'2026-07-31' AS Date), N'Ahmet Yılmaz sisteme giriş yaptı.')
INSERT [dbo].[IslemKayitlari] ([log_id], [kullanici_ID], [islem_tipi], [islem_tarihi], [islem_kayitlari_aciklama]) VALUES (10, 1, N'RECETE_YAZILDI', CAST(N'2026-07-20' AS Date), N'Hasta için yeni reçete oluşturuldu.')
INSERT [dbo].[IslemKayitlari] ([log_id], [kullanici_ID], [islem_tipi], [islem_tarihi], [islem_kayitlari_aciklama]) VALUES (11, 2, N'DOKTOR_GIRIS', CAST(N'2026-07-31' AS Date), N'Ayşe Kaya sisteme giriş yaptı.')
SET IDENTITY_INSERT [dbo].[IslemKayitlari] OFF
GO
SET IDENTITY_INSERT [dbo].[Kullanicilar] ON 

INSERT [dbo].[Kullanicilar] ([kullanici_id], [ad_soyad], [tc_no], [sifre], [rol_ID]) VALUES (1, N'Ahmet Yılmaz', N'11111111111', N'1234', 2)
INSERT [dbo].[Kullanicilar] ([kullanici_id], [ad_soyad], [tc_no], [sifre], [rol_ID]) VALUES (2, N'Ayşe Kaya', N'22222222222', N'1234', 2)
INSERT [dbo].[Kullanicilar] ([kullanici_id], [ad_soyad], [tc_no], [sifre], [rol_ID]) VALUES (3, N'Mehmet Demir', N'33333333333', N'1234', 2)
SET IDENTITY_INSERT [dbo].[Kullanicilar] OFF
GO
SET IDENTITY_INSERT [dbo].[Odalar] ON 

INSERT [dbo].[Odalar] ([oda_id], [oda_numarasi], [yatak_sayisi], [bos_mu]) VALUES (1, N'101', 2, 1)
INSERT [dbo].[Odalar] ([oda_id], [oda_numarasi], [yatak_sayisi], [bos_mu]) VALUES (2, N'102', 1, 0)
INSERT [dbo].[Odalar] ([oda_id], [oda_numarasi], [yatak_sayisi], [bos_mu]) VALUES (3, N'103', 2, 1)
SET IDENTITY_INSERT [dbo].[Odalar] OFF
GO
SET IDENTITY_INSERT [dbo].[Odemeler] ON 

INSERT [dbo].[Odemeler] ([odeme_id], [fatura_ID], [odenen_miktar], [odeme_tarihi], [odemeler_aciklama]) VALUES (9, 9, CAST(1500.00 AS Decimal(10, 2)), CAST(N'2026-07-25T11:05:00.000' AS DateTime), N'Kredi Kartı ile tek çekim tahsil edildi.')
INSERT [dbo].[Odemeler] ([odeme_id], [fatura_ID], [odenen_miktar], [odeme_tarihi], [odemeler_aciklama]) VALUES (10, 11, CAST(450.00 AS Decimal(10, 2)), CAST(N'2026-07-30T10:15:00.000' AS DateTime), N'Nakit tahsil edildi.')
SET IDENTITY_INSERT [dbo].[Odemeler] OFF
GO
SET IDENTITY_INSERT [dbo].[Randevular] ON 

INSERT [dbo].[Randevular] ([randevu_id], [hasta_ID], [doktor_ID], [randevu_tarihi], [randevu_durum], [sikayet], [teshis], [notlar]) VALUES (9, 9, 1, CAST(N'2026-07-29T00:00:00.000' AS DateTime), 1, NULL, NULL, NULL)
INSERT [dbo].[Randevular] ([randevu_id], [hasta_ID], [doktor_ID], [randevu_tarihi], [randevu_durum], [sikayet], [teshis], [notlar]) VALUES (10, 10, 2, CAST(N'2026-08-02T00:00:00.000' AS DateTime), 1, N'a', N'a', N'a')
INSERT [dbo].[Randevular] ([randevu_id], [hasta_ID], [doktor_ID], [randevu_tarihi], [randevu_durum], [sikayet], [teshis], [notlar]) VALUES (13, 11, 3, CAST(N'2026-02-02T00:00:00.000' AS DateTime), 1, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Randevular] OFF
GO
SET IDENTITY_INSERT [dbo].[ReceteDetaylari] ON 

INSERT [dbo].[ReceteDetaylari] ([detay_id], [recete_ID], [ilac_ID], [kullanim_sekli]) VALUES (9, 9, 1, N'Günde 2 tok karnına')
INSERT [dbo].[ReceteDetaylari] ([detay_id], [recete_ID], [ilac_ID], [kullanim_sekli]) VALUES (10, 9, 6, N'Günde 1 tok karnına')
INSERT [dbo].[ReceteDetaylari] ([detay_id], [recete_ID], [ilac_ID], [kullanim_sekli]) VALUES (11, 10, 3, N'Günde 2 tok karnına')
SET IDENTITY_INSERT [dbo].[ReceteDetaylari] OFF
GO
SET IDENTITY_INSERT [dbo].[Receteler] ON 

INSERT [dbo].[Receteler] ([recete_id], [hasta_ID], [doktor_ID], [receteler_tarih], [tani]) VALUES (9, 9, 1, CAST(N'2026-07-20T10:30:00.000' AS DateTime), N'Hafif Aritmi, Baş Ağrısı')
INSERT [dbo].[Receteler] ([recete_id], [hasta_ID], [doktor_ID], [receteler_tarih], [tani]) VALUES (10, 11, 3, CAST(N'2026-07-25T11:30:00.000' AS DateTime), N'Şiddetli Eklem Ağrısı')
INSERT [dbo].[Receteler] ([recete_id], [hasta_ID], [doktor_ID], [receteler_tarih], [tani]) VALUES (11, 10, 2, CAST(N'2026-07-28T15:00:00.000' AS DateTime), N'Mide Yanması ve Enfeksiyon')
SET IDENTITY_INSERT [dbo].[Receteler] OFF
GO
SET IDENTITY_INSERT [dbo].[Roller] ON 

INSERT [dbo].[Roller] ([rol_id], [rol_adi]) VALUES (1, N'Admin')
INSERT [dbo].[Roller] ([rol_id], [rol_adi]) VALUES (2, N'Doktor')
INSERT [dbo].[Roller] ([rol_id], [rol_adi]) VALUES (3, N'Sekreter')
SET IDENTITY_INSERT [dbo].[Roller] OFF
GO
SET IDENTITY_INSERT [dbo].[Tahliller] ON 

INSERT [dbo].[Tahliller] ([tahlil_id], [tahlil_adi], [birim_fiyati]) VALUES (27, N'Tam Kan Sayımı (Hemogram)', CAST(150.00 AS Decimal(10, 2)))
INSERT [dbo].[Tahliller] ([tahlil_id], [tahlil_adi], [birim_fiyati]) VALUES (28, N'Biyokimya (Glikoz, Üre, Kreatinin)', CAST(250.00 AS Decimal(10, 2)))
INSERT [dbo].[Tahliller] ([tahlil_id], [tahlil_adi], [birim_fiyati]) VALUES (29, N'Tam İdrar Tahlili', CAST(100.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Tahliller] OFF
GO
SET IDENTITY_INSERT [dbo].[TahlilSonuclari] ON 

INSERT [dbo].[TahlilSonuclari] ([sonuc_id], [hasta_ID], [tahlil_ID], [sonuc_degeri], [tahlil_sonuclari_tarih], [doktor_ID]) VALUES (9, 9, 27, N'WBC: 7.2, RBC: 4.8, Hb: 14.2 g/dL (Normal)', CAST(N'2026-07-20T11:30:00.000' AS DateTime), 1)
INSERT [dbo].[TahlilSonuclari] ([sonuc_id], [hasta_ID], [tahlil_ID], [sonuc_degeri], [tahlil_sonuclari_tarih], [doktor_ID]) VALUES (10, 9, 30, N'Sinüs Ritmi Normal, ST Değişikliği Yok', CAST(N'2026-07-20T11:45:00.000' AS DateTime), 1)
INSERT [dbo].[TahlilSonuclari] ([sonuc_id], [hasta_ID], [tahlil_ID], [sonuc_degeri], [tahlil_sonuclari_tarih], [doktor_ID]) VALUES (11, 10, 28, N'Glikoz: 92 mg/dL, Üre: 24 mg/dL (Normal)', CAST(N'2026-07-28T15:30:00.000' AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[TahlilSonuclari] OFF
GO
SET IDENTITY_INSERT [dbo].[Yatislar] ON 

INSERT [dbo].[Yatislar] ([yatis_id], [hasta_ID], [oda_ID], [yatis_tarihi], [cikis_tarihi]) VALUES (12, 9, 2, CAST(N'2026-07-20T10:00:00.000' AS DateTime), CAST(N'2026-07-25T10:00:00.000' AS DateTime))
INSERT [dbo].[Yatislar] ([yatis_id], [hasta_ID], [oda_ID], [yatis_tarihi], [cikis_tarihi]) VALUES (13, 10, 5, CAST(N'2026-07-28T14:00:00.000' AS DateTime), NULL)
INSERT [dbo].[Yatislar] ([yatis_id], [hasta_ID], [oda_ID], [yatis_tarihi], [cikis_tarihi]) VALUES (14, 11, 7, CAST(N'2026-07-30T09:30:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Yatislar] OFF
GO
/****** Object:  Index [UQ_Hastalar_KullaniciID]    Script Date: 3.08.2026 13:57:05 ******/
ALTER TABLE [dbo].[Hastalar] ADD  CONSTRAINT [UQ_Hastalar_KullaniciID] UNIQUE NONCLUSTERED 
(
	[kullanici_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Ilaclar__CBC7D8CD534D2F86]    Script Date: 3.08.2026 13:57:05 ******/
ALTER TABLE [dbo].[Ilaclar] ADD  CONSTRAINT [UQ__Ilaclar__CBC7D8CD534D2F86] UNIQUE NONCLUSTERED 
(
	[barkod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Kullanic__B770B754FBCB17B2]    Script Date: 3.08.2026 13:57:05 ******/
ALTER TABLE [dbo].[Kullanicilar] ADD  CONSTRAINT [UQ__Kullanic__B770B754FBCB17B2] UNIQUE NONCLUSTERED 
(
	[tc_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Faturalar] ADD  CONSTRAINT [DF__Faturalar__Fatur__52593CB8]  DEFAULT (getdate()) FOR [fatura_tarihi]
GO
ALTER TABLE [dbo].[Faturalar] ADD  CONSTRAINT [DF__Faturalar__Odend__534D60F1]  DEFAULT ((0)) FOR [odendi_mi]
GO
ALTER TABLE [dbo].[IslemKayitlari] ADD  CONSTRAINT [DF__IslemKayi__Islem__5AEE82B9]  DEFAULT (getdate()) FOR [islem_tarihi]
GO
ALTER TABLE [dbo].[Odalar] ADD  CONSTRAINT [DF__Odalar__BosMu__37A5467C]  DEFAULT ((1)) FOR [bos_mu]
GO
ALTER TABLE [dbo].[Odemeler] ADD  CONSTRAINT [DF__Odemeler__OdemeT__571DF1D5]  DEFAULT (getdate()) FOR [odeme_tarihi]
GO
ALTER TABLE [dbo].[Randevular] ADD  CONSTRAINT [DF__Randevula__Durum__32E0915F]  DEFAULT ((0)) FOR [randevu_durum]
GO
ALTER TABLE [dbo].[Receteler] ADD  CONSTRAINT [DF__Receteler__Tarih__3F466844]  DEFAULT (getdate()) FOR [receteler_tarih]
GO
ALTER TABLE [dbo].[TahlilSonuclari] ADD  CONSTRAINT [DF__TahlilSon__Tarih__4CA06362]  DEFAULT (getdate()) FOR [tahlil_sonuclari_tarih]
GO
ALTER TABLE [dbo].[Yatislar] ADD  DEFAULT (getdate()) FOR [yatis_tarihi]
GO
ALTER TABLE [dbo].[Doktorlar]  WITH CHECK ADD  CONSTRAINT [FK__Doktorlar__Bolum__2D27B809] FOREIGN KEY([bolum_ID])
REFERENCES [dbo].[Bolumler] ([bolum_id])
GO
ALTER TABLE [dbo].[Doktorlar] CHECK CONSTRAINT [FK__Doktorlar__Bolum__2D27B809]
GO
ALTER TABLE [dbo].[Doktorlar]  WITH CHECK ADD  CONSTRAINT [FK__Doktorlar__Kulla__2C3393D0] FOREIGN KEY([kullanici_ID])
REFERENCES [dbo].[Kullanicilar] ([kullanici_id])
GO
ALTER TABLE [dbo].[Doktorlar] CHECK CONSTRAINT [FK__Doktorlar__Kulla__2C3393D0]
GO
ALTER TABLE [dbo].[Faturalar]  WITH CHECK ADD  CONSTRAINT [FK__Faturalar__Hasta__5441852A] FOREIGN KEY([hasta_ID])
REFERENCES [dbo].[Hastalar] ([hasta_id])
GO
ALTER TABLE [dbo].[Faturalar] CHECK CONSTRAINT [FK__Faturalar__Hasta__5441852A]
GO
ALTER TABLE [dbo].[Hastalar]  WITH CHECK ADD  CONSTRAINT [FK_Hastalar_Kullanicilar] FOREIGN KEY([kullanici_ID])
REFERENCES [dbo].[Kullanicilar] ([kullanici_id])
GO
ALTER TABLE [dbo].[Hastalar] CHECK CONSTRAINT [FK_Hastalar_Kullanicilar]
GO
ALTER TABLE [dbo].[IslemKayitlari]  WITH CHECK ADD  CONSTRAINT [FK__IslemKayi__Kulla__5BE2A6F2] FOREIGN KEY([kullanici_ID])
REFERENCES [dbo].[Kullanicilar] ([kullanici_id])
GO
ALTER TABLE [dbo].[IslemKayitlari] CHECK CONSTRAINT [FK__IslemKayi__Kulla__5BE2A6F2]
GO
ALTER TABLE [dbo].[Kullanicilar]  WITH CHECK ADD  CONSTRAINT [FK__Kullanici__RolID__276EDEB3] FOREIGN KEY([rol_ID])
REFERENCES [dbo].[Roller] ([rol_id])
GO
ALTER TABLE [dbo].[Kullanicilar] CHECK CONSTRAINT [FK__Kullanici__RolID__276EDEB3]
GO
ALTER TABLE [dbo].[Odemeler]  WITH CHECK ADD  CONSTRAINT [FK__Odemeler__Fatura__5812160E] FOREIGN KEY([fatura_ID])
REFERENCES [dbo].[Faturalar] ([fatura_id])
GO
ALTER TABLE [dbo].[Odemeler] CHECK CONSTRAINT [FK__Odemeler__Fatura__5812160E]
GO
ALTER TABLE [dbo].[ReceteDetaylari]  WITH CHECK ADD  CONSTRAINT [FK__ReceteDet__IlacI__47DBAE45] FOREIGN KEY([ilac_ID])
REFERENCES [dbo].[Ilaclar] ([ilac_ID])
GO
ALTER TABLE [dbo].[ReceteDetaylari] CHECK CONSTRAINT [FK__ReceteDet__IlacI__47DBAE45]
GO
ALTER TABLE [dbo].[ReceteDetaylari]  WITH CHECK ADD  CONSTRAINT [FK__ReceteDet__Recet__46E78A0C] FOREIGN KEY([recete_ID])
REFERENCES [dbo].[Receteler] ([recete_id])
GO
ALTER TABLE [dbo].[ReceteDetaylari] CHECK CONSTRAINT [FK__ReceteDet__Recet__46E78A0C]
GO
ALTER TABLE [dbo].[Receteler]  WITH CHECK ADD  CONSTRAINT [FK__Receteler__Dokto__412EB0B6] FOREIGN KEY([doktor_ID])
REFERENCES [dbo].[Doktorlar] ([doktor_id])
GO
ALTER TABLE [dbo].[Receteler] CHECK CONSTRAINT [FK__Receteler__Dokto__412EB0B6]
GO
ALTER TABLE [dbo].[Receteler]  WITH CHECK ADD  CONSTRAINT [FK__Receteler__Hasta__403A8C7D] FOREIGN KEY([hasta_ID])
REFERENCES [dbo].[Hastalar] ([hasta_id])
GO
ALTER TABLE [dbo].[Receteler] CHECK CONSTRAINT [FK__Receteler__Hasta__403A8C7D]
GO
ALTER TABLE [dbo].[TahlilSonuclari]  WITH CHECK ADD  CONSTRAINT [FK__TahlilSon__Dokto__4F7CD00D] FOREIGN KEY([doktor_ID])
REFERENCES [dbo].[Doktorlar] ([doktor_id])
GO
ALTER TABLE [dbo].[TahlilSonuclari] CHECK CONSTRAINT [FK__TahlilSon__Dokto__4F7CD00D]
GO
ALTER TABLE [dbo].[TahlilSonuclari]  WITH CHECK ADD  CONSTRAINT [FK__TahlilSon__Hasta__4D94879B] FOREIGN KEY([hasta_ID])
REFERENCES [dbo].[Hastalar] ([hasta_id])
GO
ALTER TABLE [dbo].[TahlilSonuclari] CHECK CONSTRAINT [FK__TahlilSon__Hasta__4D94879B]
GO
ALTER TABLE [dbo].[TahlilSonuclari]  WITH CHECK ADD  CONSTRAINT [FK__TahlilSon__Tahli__4E88ABD4] FOREIGN KEY([tahlil_ID])
REFERENCES [dbo].[Tahliller] ([tahlil_id])
GO
ALTER TABLE [dbo].[TahlilSonuclari] CHECK CONSTRAINT [FK__TahlilSon__Tahli__4E88ABD4]
GO
ALTER TABLE [dbo].[Yatislar]  WITH CHECK ADD  CONSTRAINT [FK__Yatislar__HastaI__3B75D760] FOREIGN KEY([hasta_ID])
REFERENCES [dbo].[Hastalar] ([hasta_id])
GO
ALTER TABLE [dbo].[Yatislar] CHECK CONSTRAINT [FK__Yatislar__HastaI__3B75D760]
GO
ALTER TABLE [dbo].[Yatislar]  WITH CHECK ADD  CONSTRAINT [FK__Yatislar__OdaID__3C69FB99] FOREIGN KEY([oda_ID])
REFERENCES [dbo].[Odalar] ([oda_id])
GO
ALTER TABLE [dbo].[Yatislar] CHECK CONSTRAINT [FK__Yatislar__OdaID__3C69FB99]
GO
/****** Object:  StoredProcedure [dbo].[sp_AktifMuayeneleriGetir]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AktifMuayeneleriGetir]
AS
BEGIN
    -- Sadece randevu_durum = 0 (Bekleyen) olanları getirir
    SELECT 
        r.randevu_id AS [Kayıt No],
        k.tc_no AS [TC Kimlik],
        k.ad_soyad AS [Hasta Adı Soyadı],
        CONVERT(VARCHAR(16), r.randevu_tarihi, 120) AS [Randevu Zamanı]
    FROM Randevular r
    INNER JOIN Kullanicilar k ON r.hasta_ID = k.kullanici_id
    WHERE r.randevu_durum = 0
    ORDER BY r.randevu_tarihi ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AktifYatislariGetir]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. Aktif Yatan Hastaları Getir (Formun sağ tarafındaki liste için)
CREATE   PROCEDURE [dbo].[sp_AktifYatislariGetir]
AS
BEGIN
    SELECT 
        h.hastalar_ad_soyad AS [Yatan Hasta],
        y.oda_ID AS [Oda No],
        CONVERT(VARCHAR(10), y.yatis_tarihi, 104) AS [Yatış Tarihi]
    FROM Yatislar y
    INNER JOIN Hastalar h ON y.hasta_ID = h.hasta_id
    WHERE y.cikis_tarihi IS NULL
    ORDER BY y.yatis_tarihi DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BolumEkle]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ==========================================
-- 2. BÖLÜMLER
-- ==========================================
CREATE PROC [dbo].[sp_BolumEkle]
@bolum_adi VARCHAR(100)
AS
BEGIN INSERT INTO Bolumler (bolum_adi) VALUES (@bolum_adi); END

--EXEC sp_BolumEkle 'vvdsvdfsv'
GO
/****** Object:  StoredProcedure [dbo].[sp_BolumGuncelle]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_BolumGuncelle] @bolum_id INT, @bolum_adi VARCHAR(100) AS
BEGIN UPDATE Bolumler SET bolum_adi = @bolum_adi WHERE bolum_id = @bolum_id; END
GO
/****** Object:  StoredProcedure [dbo].[sp_BolumleriGetir]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_BolumleriGetir] AS
BEGIN SELECT * FROM Bolumler; END
GO
/****** Object:  StoredProcedure [dbo].[sp_BolumSil]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_BolumSil] @bolum_id INT AS
BEGIN DELETE FROM Bolumler WHERE bolum_id = @bolum_id; END
GO
/****** Object:  StoredProcedure [dbo].[sp_BosOdalariGetir]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Sadece Boş Odaları Getir (Yatış Verme Ekranındaki Liste İçin)
CREATE   PROCEDURE [dbo].[sp_BosOdalariGetir]
AS
BEGIN
    SELECT 
        oda_id, 
        'Oda ' + CAST(oda_id AS VARCHAR) + ' (Kapasite: ' + CAST(yatak_sayisi AS VARCHAR) + ')' AS [OdaAdi]
    FROM Odalar
    WHERE bos_mu = 1
    ORDER BY oda_id ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DoktorDashboard_GrafikBar]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. SÜTUN GRAFİĞİ İÇİN (Haftalık Hasta Trafiği)
CREATE   PROCEDURE [dbo].[sp_DoktorDashboard_GrafikBar]
    @kullanici_id INT
AS
BEGIN
    DECLARE @doktor_id INT = (SELECT TOP 1 doktor_id FROM Doktorlar WHERE kullanici_ID = @kullanici_id);
    
    SELECT TOP 7
        FORMAT(randevu_tarihi, 'dd.MM') AS Gun,
        COUNT(*) AS MuayeneSayisi
    FROM Randevular
    WHERE doktor_ID = @doktor_id 
    GROUP BY FORMAT(randevu_tarihi, 'dd.MM'), CAST(randevu_tarihi AS DATE)
    ORDER BY CAST(randevu_tarihi AS DATE) ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DoktorDashboard_GrafikPie]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. PASTA GRAFİĞİ İÇİN (Hasta Cinsiyet Dağılımı)
CREATE   PROCEDURE [dbo].[sp_DoktorDashboard_GrafikPie]
    @kullanici_id INT
AS
BEGIN
    DECLARE @doktor_id INT = (SELECT TOP 1 doktor_id FROM Doktorlar WHERE kullanici_ID = @kullanici_id);
    
    SELECT 
        h.hastalar_cinsiyet AS Cinsiyet,
        COUNT(DISTINCT r.hasta_ID) AS Sayi
    FROM Randevular r
    INNER JOIN Hastalar h ON r.hasta_ID = h.hasta_id
    WHERE r.doktor_ID = @doktor_id
    GROUP BY h.hastalar_cinsiyet;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DoktorDashboard_Kartlar]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 1. ÜSTTEKİ 4 KART İÇİN İSTATİSTİKLER (Tek Satırda Döner)
CREATE   PROCEDURE [dbo].[sp_DoktorDashboard_Kartlar]
    @kullanici_id INT
AS
BEGIN
    DECLARE @doktor_id INT = (SELECT TOP 1 doktor_id FROM Doktorlar WHERE kullanici_ID = @kullanici_id);

    DECLARE @ToplamHasta INT = (SELECT COUNT(DISTINCT hasta_ID) FROM Randevular WHERE doktor_ID = @doktor_id);
    DECLARE @BugunRandevu INT = (SELECT COUNT(*) FROM Randevular WHERE doktor_ID = @doktor_id AND CAST(randevu_tarihi AS DATE) = CAST(GETDATE() AS DATE));
    
    DECLARE @DoluOda INT = (SELECT COUNT(*) FROM Odalar WHERE bos_mu = 0);
    DECLARE @BosOda INT = (SELECT COUNT(*) FROM Odalar WHERE bos_mu = 1);
    DECLARE @OdaDurum VARCHAR(20) = CAST(@DoluOda AS VARCHAR) + ' / ' + CAST(@BosOda AS VARCHAR);
    
    DECLARE @BekleyenTahlil INT = (SELECT COUNT(*) FROM TahlilSonuclari WHERE doktor_ID = @doktor_id AND (sonuc_degeri IS NULL OR sonuc_degeri = ''));

    SELECT 
        ISNULL(@ToplamHasta, 0) AS ToplamHasta,
        ISNULL(@BugunRandevu, 0) AS BugunRandevu,
        ISNULL(@OdaDurum, '0 / 0') AS OdaDurum,
        ISNULL(@BekleyenTahlil, 0) AS BekleyenTahlil;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DoktorDashboard_TabloBekleyen]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. SOL TABLO: SIRADAKİ BEKLEYEN HASTALAR
CREATE   PROCEDURE [dbo].[sp_DoktorDashboard_TabloBekleyen]
    @kullanici_id INT
AS
BEGIN
    DECLARE @doktor_id INT = (SELECT TOP 1 doktor_id FROM Doktorlar WHERE kullanici_ID = @kullanici_id);
    
    SELECT TOP 6
        CONVERT(VARCHAR(5), r.randevu_tarihi, 108) AS [Saat],
        h.hastalar_ad_soyad AS [Hasta Adı Soyadı],
        ISNULL(r.sikayet, 'Belirtilmedi') AS [İşlem / Şikayet]
    FROM Randevular r
    INNER JOIN Hastalar h ON r.hasta_ID = h.hasta_id
    WHERE r.doktor_ID = @doktor_id AND r.randevu_durum = 0
    ORDER BY r.randevu_tarihi ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DoktorDashboard_TabloTahlil]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 5. SAĞ TABLO: SON ÇIKAN / BEKLEYEN TAHLİLLER
CREATE   PROCEDURE [dbo].[sp_DoktorDashboard_TabloTahlil]
    @kullanici_id INT
AS
BEGIN
    DECLARE @doktor_id INT = (SELECT TOP 1 doktor_id FROM Doktorlar WHERE kullanici_ID = @kullanici_id);
    
    SELECT TOP 6
        CONVERT(VARCHAR(10), ts.tahlil_sonuclari_tarih, 104) AS [Tarih],
        h.hastalar_ad_soyad AS [Hasta Adı],
        t.tahlil_adi AS [İstenen Tahlil]
    FROM TahlilSonuclari ts
    INNER JOIN Hastalar h ON ts.hasta_ID = h.hasta_id
    INNER JOIN Tahliller t ON ts.tahlil_ID = t.tahlil_id
    WHERE ts.doktor_ID = @doktor_id
    ORDER BY ts.tahlil_sonuclari_tarih DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DoktorDashboardOzet]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DoktorDashboardOzet]
AS
BEGIN
    -- 1. Kartlar İçin Özet Sayılar
    DECLARE @ToplamHasta INT = (SELECT COUNT(*) FROM Kullanicilar WHERE rol_ID = 2); -- Hasta rolü 2 varsayıldı
    DECLARE @ToplamOda INT = (SELECT COUNT(*) FROM Odalar);
    DECLARE @DoluOda INT = (SELECT COUNT(*) FROM Odalar WHERE bos_mu = 1); -- 1: Dolu varsayıldı
    DECLARE @BekleyenTahlil INT = (SELECT COUNT(*) FROM TahlilSonuclari WHERE sonuc_degeri IS NULL);
    
    SELECT @ToplamHasta AS ToplamHasta, @ToplamOda AS ToplamOda, @DoluOda AS DoluOda, @BekleyenTahlil AS BekleyenTahlil;

    -- 2. Grafik İçin Cinsiyet Dağılımı (Kullanicilar tablosunda cinsiyet varsa)
    -- SELECT cinsiyet, COUNT(*) as Sayi FROM Kullanicilar WHERE rol_ID = 2 GROUP BY cinsiyet;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DoktorEkle]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_DoktorEkle] @kullanici_ID INT, @bolum_id INT, @uzmanlik_alani VARCHAR(100) AS
BEGIN INSERT INTO Doktorlar (kullanici_ID, bolum_ID, uzmanlik_alani) VALUES (@kullanici_ID, @bolum_id, @uzmanlik_alani); END
GO
/****** Object:  StoredProcedure [dbo].[sp_DoktorGuncelle]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_DoktorGuncelle] @doktor_id INT, @kullanici_ID INT, @bolum_id INT, @uzmanlik_alani VARCHAR(100) AS
BEGIN UPDATE Doktorlar SET kullanici_ID = @kullanici_ID, bolum_ID = @bolum_id, uzmanlik_alani = @uzmanlik_alani WHERE doktor_id = @doktor_id; END
GO
/****** Object:  StoredProcedure [dbo].[sp_DoktorGunlukTakvim]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 1. Günlük Randevular Tablosu İçin
CREATE   PROCEDURE [dbo].[sp_DoktorGunlukTakvim]
    @kullanici_id INT
AS
BEGIN
    DECLARE @doktor_id INT = (SELECT TOP 1 doktor_id FROM Doktorlar WHERE kullanici_ID = @kullanici_id);
    
    SELECT 
        CONVERT(VARCHAR(5), r.randevu_tarihi, 108) AS [Saat],
        h.hastalar_ad_soyad AS [Hasta Adı Soyadı],
        ISNULL(r.sikayet, 'Belirtilmedi') AS [İşlem / Şikayet],
        CASE WHEN r.randevu_durum = 1 THEN 'Tamamlandı' ELSE 'Bekliyor' END AS [Durum]
    FROM Randevular r
    INNER JOIN Hastalar h ON r.hasta_ID = h.hasta_id
    WHERE r.doktor_ID = @doktor_id AND CAST(r.randevu_tarihi AS DATE) = CAST(GETDATE() AS DATE)
    ORDER BY r.randevu_tarihi ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DoktorHaftalikGrafik]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Haftalık Yoğunluk Grafiği İçin
CREATE   PROCEDURE [dbo].[sp_DoktorHaftalikGrafik]
    @kullanici_id INT
AS
BEGIN
    DECLARE @doktor_id INT = (SELECT TOP 1 doktor_id FROM Doktorlar WHERE kullanici_ID = @kullanici_id);
    
    -- Son 7 günün randevu sayıları
    SELECT TOP 7
        FORMAT(randevu_tarihi, 'ddd') AS Gun, -- Pzt, Sal, Çar vb.
        COUNT(*) AS RandevuSayisi
    FROM Randevular
    WHERE doktor_ID = @doktor_id 
          AND randevu_tarihi >= DATEADD(day, -7, GETDATE())
    GROUP BY FORMAT(randevu_tarihi, 'ddd'), CAST(randevu_tarihi AS DATE)
    ORDER BY CAST(randevu_tarihi AS DATE) ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DoktorlariGetir]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_DoktorlariGetir] AS
BEGIN SELECT * FROM Doktorlar; END
GO
/****** Object:  StoredProcedure [dbo].[sp_DoktorSil]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_DoktorSil] @doktor_id INT AS
BEGIN DELETE FROM Doktorlar WHERE doktor_id = @doktor_id; END
GO
/****** Object:  StoredProcedure [dbo].[sp_DoktorTahlilSonuclariGetir]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. Doktorun İstediği Tahlillerin Sonuçlarını Getir
CREATE   PROCEDURE [dbo].[sp_DoktorTahlilSonuclariGetir]
    @kullanici_id INT
AS
BEGIN
    DECLARE @doktor_id INT = (SELECT TOP 1 doktor_id FROM Doktorlar WHERE kullanici_ID = @kullanici_id);
    
    SELECT 
        ts.sonuc_id,
        CONVERT(VARCHAR(16), ts.tahlil_sonuclari_tarih, 120) AS [Tarih],
        h.hastalar_ad_soyad AS [Hasta Adı],
        t.tahlil_adi AS [İstenen Tahlil],
        ts.sonuc_degeri AS [Sonuç / Durum]
    FROM TahlilSonuclari ts
    INNER JOIN Hastalar h ON ts.hasta_ID = h.hasta_id
    INNER JOIN Tahliller t ON ts.tahlil_ID = t.tahlil_id
    WHERE ts.doktor_ID = @doktor_id
    ORDER BY ts.tahlil_sonuclari_tarih DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DoktorunHastalariniGetir]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_DoktorunHastalariniGetir]
    @kullanici_id INT
AS
BEGIN
    -- Kullanıcı ID'sinden Doktor ID'sini otomatik bulur
    DECLARE @doktor_id INT = (SELECT TOP 1 doktor_id FROM Doktorlar WHERE kullanici_ID = @kullanici_id);
    
    -- Sadece o doktora ait randevusu olan hastaları getirir
    SELECT DISTINCT h.hasta_id, h.hastalar_ad_soyad AS [HastaAdi]
    FROM Randevular r
    INNER JOIN Hastalar h ON r.hasta_ID = h.hasta_id
    WHERE r.doktor_ID = @doktor_id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_FaturaEkle]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_FaturaEkle] @faturalar_hasta_ID INT, @toplam_tutar DECIMAL(10,2), @fatura_tarihi DATE, @odendi_mi BIT AS
BEGIN INSERT INTO Faturalar (hasta_ID, toplam_tutar, fatura_tarihi, odendi_mi) VALUES (@faturalar_hasta_ID, @toplam_tutar, @fatura_tarihi, @odendi_mi); END
GO
/****** Object:  StoredProcedure [dbo].[sp_FaturaGuncelle]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_FaturaGuncelle] @fatura_ID INT, @faturalar_hasta_ID INT, @toplam_tutar DECIMAL(10,2), @fatura_tarihi DATE, @odendi_mi BIT AS
BEGIN UPDATE Faturalar SET hasta_ID = @faturalar_hasta_ID, toplam_tutar = @toplam_tutar, fatura_tarihi = @fatura_tarihi, odendi_mi = @odendi_mi WHERE fatura_id = @fatura_ID; END
GO
/****** Object:  StoredProcedure [dbo].[sp_FaturalariGetir]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_FaturalariGetir] AS
BEGIN SELECT * FROM Faturalar; END
GO
/****** Object:  StoredProcedure [dbo].[sp_FaturaSil]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_FaturaSil] @fatura_ID INT AS
BEGIN DELETE FROM Faturalar WHERE fatura_id = @fatura_ID; END
GO
/****** Object:  StoredProcedure [dbo].[sp_GecmisMuayeneGuncelle]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GecmisMuayeneGuncelle]
    @randevu_id INT,
    @sikayet NVARCHAR(MAX),
    @teshis NVARCHAR(MAX),
    @notlar NVARCHAR(MAX)
AS
BEGIN
    UPDATE Randevular 
    SET 
        sikayet = @sikayet,
        teshis = @teshis,
        notlar = @notlar
    WHERE 
        randevu_id = @randevu_id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GecmisMuayeneleriGetir]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GecmisMuayeneleriGetir]
AS
BEGIN
    SELECT 
        r.randevu_id AS [Kayıt No],
        k.tc_no AS [TC Kimlik],
        k.ad_soyad AS [Hasta Adı Soyadı],
        CONVERT(VARCHAR(16), r.randevu_tarihi, 120) AS [Randevu Zamanı],
        r.sikayet,
        r.teshis,
        r.notlar
    FROM Randevular r
    INNER JOIN Kullanicilar k ON r.hasta_ID = k.kullanici_id
    WHERE r.randevu_durum = 1
    ORDER BY r.randevu_tarihi DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_HastaEkle]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ==========================================
-- 5. HASTALAR
-- ==========================================
CREATE PROC [dbo].[sp_HastaEkle] @kullanici_ID VARCHAR(50), @hastalar_ad_soyad VARCHAR(100), @hastalar_dogum_tarih DATE, @hastalar_telefon VARCHAR(50), @hastalar_cinsiyet VARCHAR(50) AS
BEGIN INSERT INTO Hastalar (kullanici_ID, hastalar_ad_soyad, hastalar_dogum_tarih, hastalar_telefon, hastalar_cinsiyet) VALUES (@kullanici_ID, @hastalar_ad_soyad, @hastalar_dogum_tarih, @hastalar_telefon, @hastalar_cinsiyet); END
GO
/****** Object:  StoredProcedure [dbo].[sp_HastaGuncelle]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_HastaGuncelle] @hasta_id INT, @kullanici_ID VARCHAR(50), @hastalar_ad_soyad VARCHAR(100), @hastalar_dogum_tarih DATE, @hastalar_telefon VARCHAR(50), @hastalar_cinsiyet VARCHAR(50) AS
BEGIN UPDATE Hastalar SET kullanici_ID = @kullanici_ID, hastalar_ad_soyad = @hastalar_ad_soyad, hastalar_dogum_tarih = @hastalar_dogum_tarih, hastalar_telefon = @hastalar_telefon, hastalar_cinsiyet = @hastalar_cinsiyet WHERE hasta_id = @hasta_id; END
GO
/****** Object:  StoredProcedure [dbo].[sp_HastaKaydol]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Ardından yenisini oluşturuyoruz
CREATE PROCEDURE [dbo].[sp_HastaKaydol]
    @ad_soyad VARCHAR(100),
    @tc_no VARCHAR(11),
    @sifre VARCHAR(50),
    @telefon VARCHAR(15),
    @dogum_tarihi DATE,
    @cinsiyet VARCHAR(10)
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION;

        -- 1. ADIM: Kullanıcılar tablosuna ekle (rol_ID 'Hasta' için 10)
        INSERT INTO [dbo].[Kullanicilar] (ad_soyad, tc_no, sifre, rol_ID)
        VALUES (@ad_soyad, @tc_no, @sifre, 10);

        -- 2. ADIM: Eklenen kullanıcının ID'sini yakala
        DECLARE @YenikullaniciID INT = SCOPE_IDENTITY();

        -- 3. ADIM: Hastalar tablosuna detayları ekle
        INSERT INTO [dbo].[Hastalar] (kullanici_ID, hastalar_ad_soyad, hastalar_dogum_tarih, hastalar_telefon, hastalar_cinsiyet)
        VALUES (@YenikullaniciID, @ad_soyad, @dogum_tarihi, @telefon, @cinsiyet);

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_HastalariGetir]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_HastalariGetir] AS
BEGIN SELECT * FROM Hastalar; END
GO
/****** Object:  StoredProcedure [dbo].[sp_HastaSil]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_HastaSil] @hasta_id INT AS
BEGIN DELETE FROM Hastalar WHERE hasta_id = @hasta_id; END
GO
/****** Object:  StoredProcedure [dbo].[sp_HastaYatisVer]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. Hastaya Yatış Ver ve Odayı Doldur
CREATE   PROCEDURE [dbo].[sp_HastaYatisVer]
    @hasta_id INT,
    @oda_id INT
AS
BEGIN
    -- 1. Yatislar tablosuna kaydet (Çıkış tarihi NULL kalır)
    INSERT INTO Yatislar (hasta_ID, oda_ID, yatis_tarihi)
    VALUES (@hasta_id, @oda_id, GETDATE());

    -- 2. Odalar tablosunda odayı 'Dolu' (0) olarak işaretle
    UPDATE Odalar SET bos_mu = 0 WHERE oda_id = @oda_id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_IlacEkle]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ==========================================
-- 9. İLAÇLAR
-- ==========================================
CREATE PROC [dbo].[sp_IlacEkle] @ilac_adi VARCHAR(100), @barkod VARCHAR(50) AS
BEGIN INSERT INTO Ilaclar (ilac_adi, barkod) VALUES (@ilac_adi, @barkod); END
GO
/****** Object:  StoredProcedure [dbo].[sp_IlacGuncelle]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_IlacGuncelle] @ilac_ID INT, @ilac_adi VARCHAR(100), @barkod VARCHAR(50) AS
BEGIN UPDATE Ilaclar SET ilac_adi = @ilac_adi, barkod = @barkod WHERE ilac_ID = @ilac_ID; END
GO
/****** Object:  StoredProcedure [dbo].[sp_IlaclariGetir]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 1. İlaç Veritabanı İçin İlaçları Getir
CREATE   PROCEDURE [dbo].[sp_IlaclariGetir]
AS
BEGIN
    SELECT ilac_ID, ilac_adi AS [İlaç Adı], barkod AS [Barkod] FROM Ilaclar ORDER BY ilac_adi;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_IlacSil]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_IlacSil] @ilac_ID INT AS
BEGIN DELETE FROM Ilaclar WHERE ilac_ID = @ilac_ID; END
GO
/****** Object:  StoredProcedure [dbo].[sp_IslemKaydiEkle]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ==========================================
-- 16. İŞLEM KAYITLARI
-- ==========================================
CREATE PROC [dbo].[sp_IslemKaydiEkle] @kullanici_ID INT, @islem_tipi VARCHAR(100), @islem_tarihi DATE, @islem_kayitlari_aciklama VARCHAR(500) AS
BEGIN INSERT INTO IslemKayitlari (kullanici_ID, islem_tipi, islem_tarihi, islem_kayitlari_aciklama) VALUES (@kullanici_ID, @islem_tipi, @islem_tarihi, @islem_kayitlari_aciklama); END
GO
/****** Object:  StoredProcedure [dbo].[sp_IslemKaydiGuncelle]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_IslemKaydiGuncelle] @log_id INT, @kullanici_ID INT, @islem_tipi VARCHAR(100), @islem_tarihi DATE, @islem_kayitlari_aciklama VARCHAR(500) AS
BEGIN UPDATE IslemKayitlari SET kullanici_ID = @kullanici_ID, islem_tipi = @islem_tipi, islem_tarihi = @islem_tarihi, islem_kayitlari_aciklama = @islem_kayitlari_aciklama WHERE log_id = @log_id; END
GO
/****** Object:  StoredProcedure [dbo].[sp_IslemKaydiSil]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_IslemKaydiSil] @log_id INT AS
BEGIN DELETE FROM IslemKayitlari WHERE log_id = @log_id; END
GO
/****** Object:  StoredProcedure [dbo].[sp_IslemKayitlariGetir]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_IslemKayitlariGetir] AS
BEGIN SELECT * FROM IslemKayitlari; END
GO
/****** Object:  StoredProcedure [dbo].[sp_KullaniciEkle]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ==========================================
-- 3. KULLANICILAR
-- ==========================================
CREATE PROC [dbo].[sp_KullaniciEkle] @ad_soyad VARCHAR(100), @tc_no VARCHAR(50), @sifre VARCHAR(50), @rol_ID INT AS
BEGIN INSERT INTO Kullanicilar (ad_soyad, tc_no, sifre, rol_ID) VALUES (@ad_soyad, @tc_no, @sifre, @rol_ID); END
GO
/****** Object:  StoredProcedure [dbo].[sp_KullaniciGiris]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_KullaniciGiris]
    @tc_no NVARCHAR(11),
    @sifre NVARCHAR(50)
AS
BEGIN
    SELECT 
        k.kullanici_id,
        k.rol_ID,
        k.ad_soyad,
        (SELECT TOP 1 doktor_id FROM Doktorlar WHERE kullanici_ID = k.kullanici_id) AS doktor_id
    FROM Kullanicilar k
    WHERE k.tc_no = @tc_no AND k.sifre = @sifre;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_KullaniciGuncelle]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_KullaniciGuncelle] @kullanici_id INT, @ad_soyad VARCHAR(100), @tc_no VARCHAR(50), @sifre VARCHAR(50), @rol_ID INT AS
BEGIN UPDATE Kullanicilar SET ad_soyad = @ad_soyad, tc_no = @tc_no, sifre = @sifre, rol_ID = @rol_ID WHERE kullanici_id = @kullanici_id; END
GO
/****** Object:  StoredProcedure [dbo].[sp_KullanicilariGetir]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_KullanicilariGetir] AS
BEGIN SELECT * FROM Kullanicilar; END
GO
/****** Object:  StoredProcedure [dbo].[sp_KullaniciSil]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_KullaniciSil] @kullanici_id INT AS
BEGIN DELETE FROM Kullanicilar WHERE kullanici_id = @kullanici_id; END
GO
/****** Object:  StoredProcedure [dbo].[sp_MuayeneKaydet]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_MuayeneKaydet]
    @randevu_id INT,
    @sikayet NVARCHAR(MAX),
    @teshis NVARCHAR(MAX),
    @notlar NVARCHAR(MAX)
AS
BEGIN
    -- Hem randevu durumunu 'Tamamlandı' (1) yapıyoruz, 
    -- Hem de C# formundan gelen metinleri tabloya kaydediyoruz!
    UPDATE Randevular 
    SET 
        randevu_durum = 1,
        sikayet = @sikayet,
        teshis = @teshis,
        notlar = @notlar
    WHERE 
        randevu_id = @randevu_id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_OdaDurumlariGetir]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 1. Tüm Odaların Durumunu Getir (Oda Durumları Ekranı İçin)
CREATE   PROCEDURE [dbo].[sp_OdaDurumlariGetir]
AS
BEGIN
    SELECT 
        oda_id AS [Oda No],
        yatak_sayisi AS [Kapasite],
        CASE WHEN bos_mu = 1 THEN 'Boş' ELSE 'Dolu' END AS [Mevcut Durum]
    FROM Odalar
    ORDER BY oda_id ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_OdaEkle]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ==========================================
-- 6. ODALAR
-- ==========================================
CREATE PROC [dbo].[sp_OdaEkle] @oda_numarasi VARCHAR(50), @yatak_sayisi INT, @bos_mu BIT AS
BEGIN INSERT INTO Odalar (oda_numarasi, yatak_sayisi, bos_mu) VALUES (@oda_numarasi, @yatak_sayisi, @bos_mu); END
GO
/****** Object:  StoredProcedure [dbo].[sp_OdaGuncelle]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_OdaGuncelle] @oda_id INT, @oda_numarasi VARCHAR(50), @yatak_sayisi INT, @bos_mu BIT AS
BEGIN UPDATE Odalar SET oda_numarasi = @oda_numarasi, yatak_sayisi = @yatak_sayisi, bos_mu = @bos_mu WHERE oda_id = @oda_id; END
GO
/****** Object:  StoredProcedure [dbo].[sp_OdalariGetir]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_OdalariGetir] AS
BEGIN SELECT * FROM Odalar; END
GO
/****** Object:  StoredProcedure [dbo].[sp_OdaSil]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_OdaSil] @oda_id INT AS
BEGIN DELETE FROM Odalar WHERE oda_id = @oda_id; END
GO
/****** Object:  StoredProcedure [dbo].[sp_OdemeEkle]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_OdemeEkle] @fatura_id INT, @odenen_miktar DECIMAL(10,2), @odeme_tarihi DATETIME, @odemeler_aciklama VARCHAR(255) AS
BEGIN INSERT INTO Odemeler (fatura_ID, odenen_miktar, odeme_tarihi, odemeler_aciklama) VALUES (@fatura_id, @odenen_miktar, @odeme_tarihi, @odemeler_aciklama); END
GO
/****** Object:  StoredProcedure [dbo].[sp_OdemeGuncelle]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_OdemeGuncelle] @odeme_id INT, @fatura_id INT, @odenen_miktar DECIMAL(10,2), @odeme_tarihi DATETIME, @odemeler_aciklama VARCHAR(255) AS
BEGIN UPDATE Odemeler SET fatura_ID = @fatura_id, odenen_miktar = @odenen_miktar, odeme_tarihi = @odeme_tarihi, odemeler_aciklama = @odemeler_aciklama WHERE odeme_id = @odeme_id; END
GO
/****** Object:  StoredProcedure [dbo].[sp_OdemeleriGetir]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_OdemeleriGetir] AS
BEGIN SELECT * FROM Odemeler; END
GO
/****** Object:  StoredProcedure [dbo].[sp_OdemeSil]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_OdemeSil] @odeme_id INT AS
BEGIN DELETE FROM Odemeler WHERE odeme_id = @odeme_id; END
GO
/****** Object:  StoredProcedure [dbo].[sp_RandevuEkle]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ==========================================
-- 7. RANDEVULAR
-- ==========================================
CREATE PROC [dbo].[sp_RandevuEkle] @hasta_ID INT, @doktor_ID INT, @randevu_tarihi DATETIME, @randevu_durum VARCHAR(50) AS
BEGIN INSERT INTO Randevular (hasta_ID, doktor_ID, randevu_tarihi, randevu_durum) VALUES (@hasta_ID, @doktor_ID, @randevu_tarihi, @randevu_durum); END
GO
/****** Object:  StoredProcedure [dbo].[sp_RandevuGuncelle]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_RandevuGuncelle] @randevu_id INT, @hasta_ID INT, @doktor_ID INT, @randevu_tarihi DATETIME, @randevu_durum VARCHAR(50) AS
BEGIN UPDATE Randevular SET hasta_ID = @hasta_ID, doktor_ID = @doktor_ID, randevu_tarihi = @randevu_tarihi, randevu_durum = @randevu_durum WHERE randevu_id = @randevu_id; END
GO
/****** Object:  StoredProcedure [dbo].[sp_RandevulariGetir]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_RandevulariGetir] AS
BEGIN SELECT * FROM Randevular; END
GO
/****** Object:  StoredProcedure [dbo].[sp_RandevuSil]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_RandevuSil] @randevu_id INT AS
BEGIN DELETE FROM Randevular WHERE randevu_id = @randevu_id; END
GO
/****** Object:  StoredProcedure [dbo].[sp_ReceteBaslikEkle]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. Reçeteyi Veritabanına Kaydet (Başlık)
CREATE   PROCEDURE [dbo].[sp_ReceteBaslikEkle]
    @hasta_id INT,
    @kullanici_id INT,
    @tani NVARCHAR(255)
AS
BEGIN
    DECLARE @doktor_id INT = (SELECT TOP 1 doktor_id FROM Doktorlar WHERE kullanici_ID = @kullanici_id);
    
    INSERT INTO Receteler (hasta_ID, doktor_ID, receteler_tarih, tani)
    VALUES (@hasta_id, @doktor_id, GETDATE(), @tani);
    
    -- Eklenen yeni reçetenin ID'sini C#'a döndürür
    SELECT SCOPE_IDENTITY() AS YeniReceteID; 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ReceteDetayEkle]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. Reçeteye İlaçları Ekle (Detaylar)
CREATE   PROCEDURE [dbo].[sp_ReceteDetayEkle]
    @recete_id INT,
    @ilac_id INT,
    @kullanim_sekli NVARCHAR(255)
AS
BEGIN
    INSERT INTO ReceteDetaylari (recete_ID, ilac_ID, kullanim_sekli)
    VALUES (@recete_id, @ilac_id, @kullanim_sekli);
    
    SELECT 1 AS Sonuc; -- SqlHelper'ın hata vermemesi için dummy dönüş
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ReceteDetayGuncelle]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_ReceteDetayGuncelle] @detay_id INT, @recete_ID INT, @ilac_ID INT, @kullanim_sekli VARCHAR(100) AS
BEGIN UPDATE ReceteDetaylari SET recete_ID = @recete_ID, ilac_ID = @ilac_ID, kullanim_sekli = @kullanim_sekli WHERE detay_id = @detay_id; END
GO
/****** Object:  StoredProcedure [dbo].[sp_ReceteDetaylariGetir]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_ReceteDetaylariGetir] AS
BEGIN SELECT * FROM ReceteDetaylari; END
GO
/****** Object:  StoredProcedure [dbo].[sp_ReceteDetaySil]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_ReceteDetaySil] @detay_id INT AS
BEGIN DELETE FROM ReceteDetaylari WHERE detay_id = @detay_id; END
GO
/****** Object:  StoredProcedure [dbo].[sp_ReceteEkle]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ==========================================
-- 10. REÇETELER
-- ==========================================
CREATE PROC [dbo].[sp_ReceteEkle] @hasta_ID INT, @doktor_ID INT, @receteler_tarih DATETIME, @tani VARCHAR(50) AS
BEGIN INSERT INTO Receteler (hasta_ID, doktor_ID, receteler_tarih, tani) VALUES (@hasta_ID, @doktor_ID, @receteler_tarih, @tani); END
GO
/****** Object:  StoredProcedure [dbo].[sp_ReceteGuncelle]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_ReceteGuncelle] @recete_id INT, @hasta_ID INT, @doktor_ID INT, @receteler_tarih DATETIME, @tani VARCHAR(50) AS
BEGIN UPDATE Receteler SET hasta_ID = @hasta_ID, doktor_ID = @doktor_ID, receteler_tarih = @receteler_tarih, tani = @tani WHERE recete_id = @recete_id; END
GO
/****** Object:  StoredProcedure [dbo].[sp_ReceteleriGetir]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_ReceteleriGetir] AS
BEGIN SELECT * FROM Receteler; END
GO
/****** Object:  StoredProcedure [dbo].[sp_ReceteSil]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_ReceteSil] @recete_id INT AS
BEGIN DELETE FROM Receteler WHERE recete_id = @recete_id; END
GO
/****** Object:  StoredProcedure [dbo].[sp_RolEkle]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_RolEkle] @rol_adi VARCHAR(50) AS
BEGIN INSERT INTO Roller (rol_adi) VALUES (@rol_adi); END
GO
/****** Object:  StoredProcedure [dbo].[sp_RolGuncelle]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_RolGuncelle] @rol_ID INT, @rol_adi VARCHAR(50) AS
BEGIN UPDATE Roller SET rol_adi = @rol_adi WHERE rol_id = @rol_ID; END
GO
/****** Object:  StoredProcedure [dbo].[sp_RolleriGetir]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_RolleriGetir] AS
BEGIN SELECT * FROM Roller; END
GO
/****** Object:  StoredProcedure [dbo].[sp_RolSil]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_RolSil] @rol_ID INT AS
BEGIN DELETE FROM Roller WHERE rol_id = @rol_ID; END
GO
/****** Object:  StoredProcedure [dbo].[sp_SistemTahlilleriniGetir]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 1. Tüm Tahlil Türlerini Getir (Combobox için)
CREATE   PROCEDURE [dbo].[sp_SistemTahlilleriniGetir]
AS
BEGIN
    SELECT tahlil_id, tahlil_adi AS [Tahlil Adı] FROM Tahliller ORDER BY tahlil_adi;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_TahlilEkle]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ==========================================
-- 12. TAHLİLLER
-- ==========================================
CREATE PROC [dbo].[sp_TahlilEkle] @tahlil_adi VARCHAR(100), @birim_fiyati DECIMAL(10,2) AS
BEGIN INSERT INTO Tahliller (tahlil_adi, birim_fiyati) VALUES (@tahlil_adi, @birim_fiyati); END
GO
/****** Object:  StoredProcedure [dbo].[sp_TahlilGuncelle]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_TahlilGuncelle] @tahlil_id INT, @tahlil_adi VARCHAR(100), @birim_fiyati DECIMAL(10,2) AS
BEGIN UPDATE Tahliller SET tahlil_adi = @tahlil_adi, birim_fiyati = @birim_fiyati WHERE tahlil_id = @tahlil_id; END
GO
/****** Object:  StoredProcedure [dbo].[sp_TahlilKaydet]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Tahlil İsteğini Veritabanına Kaydet
CREATE   PROCEDURE [dbo].[sp_TahlilKaydet]
    @hasta_id INT,
    @kullanici_id INT,
    @tahlil_id INT
AS
BEGIN
    DECLARE @doktor_id INT = (SELECT TOP 1 doktor_id FROM Doktorlar WHERE kullanici_ID = @kullanici_id);
    
    -- Tahlil ilk istendiğinde sonucu 'Bekliyor' olarak kaydedilir
    INSERT INTO TahlilSonuclari (hasta_ID, tahlil_ID, tahlil_sonuclari_tarih, doktor_ID, sonuc_degeri)
    VALUES (@hasta_id, @tahlil_id, GETDATE(), @doktor_id, 'Sonuç Bekleniyor...');
END
GO
/****** Object:  StoredProcedure [dbo].[sp_TahlilleriGetir]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_TahlilleriGetir] AS
BEGIN SELECT * FROM Tahliller; END
GO
/****** Object:  StoredProcedure [dbo].[sp_TahlilSil]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_TahlilSil] @tahlil_id INT AS
BEGIN DELETE FROM Tahliller WHERE tahlil_id = @tahlil_id; END
GO
/****** Object:  StoredProcedure [dbo].[sp_TahlilSonucEkle]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ==========================================
-- 13. TAHLİL SONUÇLARI
-- ==========================================
CREATE PROC [dbo].[sp_TahlilSonucEkle] @hasta_ID INT, @tahlil_ID INT, @sonuc_degeri VARCHAR(200), @tahlil_sonuclari_tarih DATETIME, @doktor_ID INT AS
BEGIN INSERT INTO TahlilSonuclari (hasta_ID, tahlil_ID, sonuc_degeri, tahlil_sonuclari_tarih, doktor_ID) VALUES (@hasta_ID, @tahlil_ID, @sonuc_degeri, @tahlil_sonuclari_tarih, @doktor_ID); END
GO
/****** Object:  StoredProcedure [dbo].[sp_TahlilSonucGuncelle]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_TahlilSonucGuncelle] @sonuc_id INT, @hasta_ID INT, @tahlil_ID INT, @sonuc_degeri VARCHAR(200), @tahlil_sonuclari_tarih DATETIME, @doktor_ID INT AS
BEGIN UPDATE TahlilSonuclari SET hasta_ID = @hasta_ID, tahlil_ID = @tahlil_ID, sonuc_degeri = @sonuc_degeri, tahlil_sonuclari_tarih = @tahlil_sonuclari_tarih, doktor_ID = @doktor_ID WHERE sonuc_id = @sonuc_id; END
GO
/****** Object:  StoredProcedure [dbo].[sp_TahlilSonuclariGetir]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_TahlilSonuclariGetir] AS
BEGIN SELECT * FROM TahlilSonuclari; END
GO
/****** Object:  StoredProcedure [dbo].[sp_TahlilSonucSil]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_TahlilSonucSil] @sonuc_id INT AS
BEGIN DELETE FROM TahlilSonuclari WHERE sonuc_id = @sonuc_id; END
GO
/****** Object:  StoredProcedure [dbo].[sp_YatisEkle]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ==========================================
-- 8. YATIŞLAR
-- ==========================================
CREATE PROC [dbo].[sp_YatisEkle] @hasta_ID INT, @oda_ID INT, @yatis_tarihi DATETIME, @cikis_tarihi DATETIME AS
BEGIN INSERT INTO Yatislar (hasta_ID, oda_ID, yatis_tarihi, cikis_tarihi) VALUES (@hasta_ID, @oda_ID, @yatis_tarihi, @cikis_tarihi); END
GO
/****** Object:  StoredProcedure [dbo].[sp_YatisGuncelle]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_YatisGuncelle] @yatis_id INT, @hasta_ID INT, @oda_ID INT, @yatis_tarihi DATETIME, @cikis_tarihi DATETIME AS
BEGIN UPDATE Yatislar SET hasta_ID = @hasta_ID, oda_ID = @oda_ID, yatis_tarihi = @yatis_tarihi, cikis_tarihi = @cikis_tarihi WHERE yatis_id = @yatis_id; END
GO
/****** Object:  StoredProcedure [dbo].[sp_YatislariGetir]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_YatislariGetir] AS
BEGIN SELECT * FROM Yatislar; END
GO
/****** Object:  StoredProcedure [dbo].[sp_YatisSil]    Script Date: 3.08.2026 13:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_YatisSil] @yatis_id INT AS
BEGIN DELETE FROM Yatislar WHERE yatis_id = @yatis_id; END
GO
